@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');

.downloaderPart {
  /* position: relative; */
  border: 10px solid black !important;
  border-radius: 10px;
}

.headerScanme>img {
  height: 160px;
}

.headerScanme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.scanmeHeader {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 120px;
  color: #000000;
}

.subHeaderScanMe {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  text-align: right;
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 20px; */
  font-weight: 700;
}

/* QR CSS======================== */
:root {
  --color: black;
}

.QRCodeImage {
  appearance: none;
  border: none;
  background: none;
  font-size: 40px;
  height: 250px;
  width: 250px;
  font-weight: bold;
  color: var(--color);
  padding: 10px 10px;
  position: relative;
  /* width: min-content; */
}

.QRCodeImage::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  border-top: 4px solid var(--color);
  border-left: 4px solid var(--color);
  transition: width .3s, height .3s;
}

.QRCodeImage::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 60px;
  height: 60px;
  border-bottom: 4px solid var(--color);
  border-right: 4px solid var(--color);
  transition: width .3s, height .3s;
}

.QRCodeImage:hover::before,
.QRCodeImage:hover::after {
  width: 100%;
  height: 100%;
}

/* ******************************* */

.QrContainer {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.QRCodeImage>img {
  height: 230px;
}

.instructionCOntainer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.instructionText {
  background-color: #5b09e1;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  position: relative;
}

.arrowPoineter {
  /* border: 50px solid #5b09e1; */
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #5b09e1;
  position: absolute;
  left: 45%;
  top: -20px
    /* border-radius: 50% 50% 0 0; */
}
.hrContainer {
  width: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.hrContainer > hr {
  width: 100%;
  height: 5px;
  background-color: #878ba3;
  border: none;
}

#hr1 {
  padding-right: 20px;
}

#hr1>hr {
  border-radius: 10px 0 0 10px;
}

#hr2 {
  padding-left: 20px;
}

#hr2>hr {
  border-radius: 0 10px 10px 0;
}

.rimeLogo {
  display: flex;
  justify-content: center;
  /* border: 2px solid; */
  margin-bottom: 10px;
}

.companyLogoCOntainer {
  display: flex;
  justify-content: space-evenly;
}

.usernameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  padding: 10px 0;
}

.usernameText {
  border-bottom: 2px solid #000000;
}

.bottomScanMeContainer {
  display: flex;
  height: 180px;
  /* border: 2px solid #000000; */
  background-color: #000000a2;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.leftLogoContainer {
  width: 30%;
  height: 100%;
  border-right: 5px solid #ffffff75;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.rightPartScanMecontainer {
  /* border: 2px solid blue; */
  display: flex;
  width: 70%;
  flex-direction: column;
}

.connection {
  height: 30%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.hrDividerContainer {
  margin: 2px 0;
}

.connectionDivider {
  width: 80%;
  border: none;
  margin: auto;
  height: 1px;
  background-color: #fbfbfb9c;
}

.connectionIcon {
  height: 40px;
}

.connectionUsernameContainer {
  color: white;
}

.logoDet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.companyWebsite {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.companyWebsite > span {
  color: black;
  padding-left: 10px;
}

.glassdorIcon {
  /* filter: invert(100) */
}

.hotelImageOnQr {
  /* filter: invert(100); */
}


@media only screen and (max-width: 580px) {
  .scanmeHeader {
    font-size: 90px;
  }
}

@media only screen and (max-width: 540px) {
  .scanmeHeader {
    font-size: 80px;
  }
  .subHeaderScanMe {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .scanmeHeader {
    font-size: 70px;
  }
  .subHeaderScanMe {
    font-size: 15px;
  }
  .instructionText {
    width: 90%;
    font-size: 15px;
    padding: 10px;
  }

  .QRCodeImage {
    height: 216px !important;
    width: 216px !important;
  }
  .QRCodeImage > svg {
    height: 200px !important;
    max-width: 200px !important;
  }
}

@media only screen and (max-width: 450px) {
  .scanmeHeader {
    font-size: 60px;
  }
  .subHeaderScanMe {
    font-size: 12px;
  }
}

@media only screen and (max-width: 420px) {
  .headerScanme>img {
    height: 90px;
  }
}